@import  "../../styles/variables.scss";

nav.navbar {
    // background-color: red;
    display: flex;
    height: 80px;
    padding: 3rem;

    .navlogo {
        flex: 1;
        display: flex;
        // background-color: orange;
        align-items: center;
        
        h1 {
            font-family: $main-font;
            font-weight: 800;
            text-transform: uppercase;
            font-size: 2rem;
            cursor: pointer;
        }
    }

    .navlinks {
        flex: 2;
        display: flex;
        justify-content: center;
        align-items: center;
        // background-color: red;
        position: relative;

        .allproductsmain {
            position: relative;
            display: flex;
            justify-content: center;

            .allproductsdropdown {
                position: absolute;
                top: 30px;
                padding: 1rem;
                display: flex;
                flex-direction: 'column';
                justify-content: center;
                // right: 30px;
                background-color: rgb(255, 255, 255);
                box-shadow: 3px 2px 42px 6px rgba(6,6,6,0.3);
                -webkit-box-shadow: 3px 2px 42px 6px rgba(6,6,6,0.3);
                -moz-box-shadow: 3px 2px 42px 6px rgba(6,6,6,0.3);
                border-radius: 3px;
                width: max-content;

                a {
                    background-color: 'orange';
                }
            }
        }

        p {
            font-family: $main-font;
            margin: 0 1rem;
            font-weight: 700;

            &:hover {
                cursor: pointer;
            }
        }

        a {
            font-family: $main-font;
            margin: 0 1rem;
            color: black;
            font-weight: 700;
            // background-color: purple;

            &:hover {
                cursor: pointer;
            }
        }
    }

    .loginregister {
        flex: 1;
        display: flex;
        align-items: center;
        justify-content: flex-end;

        .cart {
            position: relative;
            display: flex;
            justify-content: center;

            .cartShow {
                position: absolute;
                background-color: red;
                top: 30px;
            }
        }

        a, p {
            font-family: $main-font;
            cursor: pointer;
        }
    }
}