@import '../../../styles/variables.scss';

.itemInfo {
    // background-color: orangered;
    margin: 2rem;

    h1 {
        font-family: $main-font;
        font-size: 3rem;
        margin-bottom: 0.5rem;
        font-weight: 800;
        text-transform: uppercase;
    }

    h2 {
        font-family: $main-font;
        color: gray;
        font-size: 1.8rem;
    }

    p {
        font-family: $main-font;
    }

    ul {

        li {
            font-family: $main-font;
            list-style: none;
            margin-top: 0.3rem;
            // font-size: 1.2rem;

            &.stocks {
                text-transform: uppercase;
                font-size: 1rem;
                margin-top: 2rem;
            }
        }
    }
    
    button {
        margin-top: 1rem;
        padding: 0.5rem 1.5rem;
        border: none;
        outline: none;
        background-color: hsl(214, 59%, 48%);
        border-radius: 25px;
        color: white;
        font-family: $main-font;
        font-weight: 700;
        cursor: pointer;
        transition-property: all;
        transition-duration: 0.3s;
        display: flex;
        justify-content: center;

        &:disabled {
            opacity: 0.5;
        }
        
        &:hover {
            background-color: hsl(214, 59%, 20%);
        }
    }

}

.modalInfo {
    // background-color: blue;
    flex: 1;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    h3 {
        font-family: $main-font;
        text-align: center;
    }

    button {
        margin-top: 1rem;
        padding: 0.5rem 1.5rem;
        border: none;
        outline: none;
        background-color: hsl(214, 59%, 48%);
        border-radius: 25px;
        color: white;
        font-family: $main-font;
        font-weight: 700;
        cursor: pointer;
        transition-property: all;
        transition-duration: 0.3s;
        
        &:hover {
            background-color: hsl(214, 59%, 20%);
        }
    }
}