@import '../../styles/variables.scss';

main.main {
    // background-color: red;
    min-height: 100vh;
    margin: 3rem 3rem 0 3rem;
    display: flex;
    flex-direction: column;

    .title {
        margin: 3rem 0;
        display: flex;
        justify-content: center;
        
        h1 {
            font-family: $main-font;
            text-transform: uppercase;
            font-size: 2.5rem;
            font-weight: 500;
        }
    }
    
    .items {
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
    }
}

.itemRoot {
    // background-color: red;
    min-height: 100vh;
    margin: 3rem 3rem 0 3rem;

    .itemDetails {
        // background-color: blue;

        .itemImg {
            // background-color: orange;
            display: flex;
            justify-content: center;
        }

        .itemInfo {
            // background-color: orangered;
            margin: 2rem;

            h1 {
                font-family: $main-font;
                font-size: 3rem;
                margin-bottom: 0.5rem;
                font-weight: 800;
                text-transform: uppercase;
            }

            h2 {
                font-family: $main-font;
                color: gray;
                font-size: 1.8rem;
            }

            p {
                font-family: $main-font;
            }

            ul {

                li {
                    font-family: $main-font;
                    list-style: none;
                    margin-top: 0.3rem;
                    // font-size: 1.2rem;
                }
            }
            
            button {
                margin-top: 1rem;
                padding: 1rem 1.5rem;
                border: none;
                outline: none;
                background-color: hsl(214, 59%, 48%);
                border-radius: 25px;
                color: white;
                font-family: $main-font;
                font-weight: 700;
                cursor: pointer;
                transition-property: all;
                transition-duration: 0.3s;
                
                &:hover {
                    background-color: hsl(214, 59%, 20%);
                }
            }
        }
    }

}