@import '../../styles/variables.scss';

.carousel {
    margin: 3rem 3rem 0rem 3rem;
}

.titleSection {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    // background-color: orange;
    margin-top: 3rem;
    margin-bottom: 3rem;

    h1 {
        font-family: $main-font;
        font-weight: 800;
        text-transform: uppercase;
        font-size: 3rem;
        cursor: default;

        &.keyboards {
            transition-duration: 0.5s;

            &:hover {
                font-size: 3.5rem;
            }
        }
    }

    h2 {
        font-family: $main-font;
        font-weight: 400;
        // text-transform: uppercase;
    }

}

.membraneSection {
    // background-color: red;
    display: flex;
    flex-direction: row;
    width: 100%;

    .membraneInfo {
        flex: 1;
        // background-color: orange;
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: flex-start;
        height: 300px;
        // margin: 0 8rem;

        h1 {
            font-family: $main-font;
            margin: 0 8vw;
            font-weight: 800;
            margin-bottom: 0.5rem;
        }

        p {
            font-family: $main-font;
            // font-weight: 300;
            font-weight: 500;
            margin: 0 8vw;
        }
    }

    .membraneImg {
        flex: 1;
        // background-color: red;
        display: flex;
        // justify-content: flex-start;
        justify-content: center;
        align-items: center;
    }
}

.mechSection {
    // background-color: red;
    display: flex;
    flex-direction: row;
    width: 100%;

    .mechInfo {
        flex: 1;
        // background-color: orange;
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: flex-start;
        height: 300px;
        order: 2;
        // margin: 0 8rem;

        h1 {
            font-family: $main-font;
            margin: 0 8vw;
            font-weight: 800;
            margin-bottom: 0.5rem;
        }

        p {
            font-family: $main-font;
            // font-weight: 300;
            font-weight: 500;
            margin: 0 8vw;
        }
    }

    .mechImg {
        flex: 1;
        order: 1;
        // background-color: red;
        display: flex;
        // justify-content: flex-start;
        justify-content: center;
        align-items: center;

        img {
            filter: drop-shadow(0px 130px 150px rgba(39,21,6,1));
        }
    }
}

.threeTiles {
    // margin: 3rem 3rem 0 3rem;
    background-color: black;

    .tileBox {
        display: flex;
        // flex-direction: row;
        // justify-content: center;

        .tile1 {
            position: relative;
            transition-property: all;
            transition-duration: 0.5s;
            filter: grayscale(100%);

            &:hover {
                filter: grayscale(50%);
            }

            &:hover::before {
                position: absolute;
                // content: "Switches";
                content: "";
                font-family: $main-font;
                font-weight: 800;
                font-size: 4rem;
                text-transform: uppercase;
                position: absolute;
                top: 50%;
                // top: 50%;
                left: 50%;
                // right: 50%;
                color: white;
                z-index: 3;
                // display: flex;
                transform: translate(-50%, 50%);
            }

            &:hover img {
                transform: scale(1.1);
                transform-origin: 50% 50%;
                
            }
            
            img {
                display: block;
                transition: transform 0.5s;   /* smoother zoom */
                // background:linear-gradient(to bottom, rgba(0,0,0,0) 20%, rgba(0,0,0,1));
                // filter: grayscale(100%);
            }
        }

        .tile2 {
            position: relative;
            transition-property: all;
            transition-duration: 0.5s;
            filter: grayscale(100%);

            &:hover {
                filter: grayscale(50%);
            }

            &:hover::before {
                position: absolute;
                // content: "Keycaps";
                content: "";
                font-family: $main-font;
                font-weight: 800;
                font-size: 4rem;
                text-transform: uppercase;
                position: absolute;
                top: 50%;
                // top: 50%;
                left: 50%;
                // right: 50%;
                color: white;
                z-index: 3;
                // display: flex;
                transform: translate(-50%, 50%);
            }

            &:hover img {
                transform: scale(1.1);
                transform-origin: 50% 50%;
            }
            
            img {
                display: block;
                transition: transform 0.5s;   /* smoother zoom */
            }
        }

    }

    .tile3 {
        position: relative;
        transition-property: all;
        transition-duration: 0.5s;
        filter: grayscale(100%);

        &:hover {
            filter: grayscale(50%);
        }

        &:hover::before {
            position: absolute;
            // content: "Custom Build";
            content: "";
            font-family: $main-font;
            font-weight: 800;
            font-size: 6rem;
            text-transform: uppercase;
            position: absolute;
            top: 50%;
            // top: 50%;
            left: 50%;
            // right: 50%;
            color: white;
            z-index: 3;
            // display: flex;
            transform: translate(-50%, 50%);
        }

        &:hover img {
            transform: scale(1.1);
            transform-origin: 50% 50%;
        }
        
        img {
            display: block;
            transition: transform 0.5s;   /* smoother zoom */
        }
    }

}

.newsletter {
    height: 300px;
    display: flex;
    justify-content: center;
    // align-items: center;
    padding: 0 3rem;
    // border-top: gray solid 1px;
    // background-color: whitesmoke;
    // border-width: 2px;

    form {
        // background-color: red;
        display: flex;
        flex-direction: column;
        justify-content: center;

        h1 {
            margin-bottom: 0.5rem;
            font-family: $main-font;
            font-weight: 800;
            text-align: center;
            // color: white;
        }
    
        label {
            // margin-right: 1rem;
            font-family: $main-font;
            font-weight: 600;
            // color: white;
        }
    
        input {
            margin: 0 0.5rem;
            padding: 0.5rem;
            width: 300px;
            font-family: $main-font;
            font-weight: 600;
            // border-radius: 5px;
            // border: solid black 4px;
        }
    
        button {
            padding: 0.5rem 1rem;
            border: none;
            outline: none;
            background-color: white;
            border: #3373C4 solid 2px;
            font-family: $main-font;
            color: #3373C4;
            font-weight: 800;
            text-transform: uppercase;
            border-radius: 5px;
            cursor: pointer;
            transition-property: all;
            transition-duration: 0.5s;
            
            &:hover {
                border: transparent solid 2px;
                background-color: #3373C4;
                color: white;
            }
        }
    }

}

@media screen and (max-width: 700px) {

    .carousel {
        margin: 3rem 0 0 0;
    }

    .membraneSection {
        flex-direction: column;
        // background-color: blue;
        padding: 2rem 0;

        .membraneImg {
            // background-color: red;
            margin: 0 1rem;
        }
    }

    .mechSection {
        flex-direction: column;
        // background-color: red;
        padding: 2rem 0;

        .mechInfo {
            order: 1;
        }
    }

    .newsletter {
        // background-color: red;
        // flex-direction: column;
        padding: 0;

        form {
            // background-color: red;
            width: 100%;
            margin: 0 0.5rem;

            .inputForm {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;

                input {
                    margin: 0;
                    margin-top: 0.5rem;
                    width: 95%;
                }

                button {
                    margin-top: 0.5rem;
                    width: 130px;
                }
            }
        }

    }

}

@media screen and (max-width: 650px) {

    .threeTiles {

        .tileBox {
            flex-direction: column;
            display: none;
        }
    }

}

// @media screen and (max-width: 600px) {

//     .newsletter {
//         // background-color: red;
//         flex-direction: column;

//         input {
//             margin: 0;
//         }

//     }

// }